
.top-text{
    background-color: #DDFFBB;
    text-align: center;
    padding-bottom: 1px;
    
  
}

p{
    text-align: left;
}
.sub{
    background-color: #C7E9B0;
    padding-top: 5px;
    block-size: 300px;
    

}
.img-div{
    background-image: url(developers.jpg);
    border: 5px dotted black;
    
    padding: 15px;
    background:#B3C99C;
    background-clip: padding-box;
}
h1{
    border: 5px solid black;
    border-block-start-style: solid;
    border-block-start-color: rgb(253, 110, 110);
    border-block-end-style: dotted;
    border-block-end-width: 10px;
}